{% extends 'base.html' %}
{% load static %}

{% block content %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0 text-center">Sign Up</h3>
                </div>
                <div class="card-body">

            <form method="post" action="">

            {% csrf_token %}
               {{form}}
              <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
              type="submit">sign up</button>


            </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>

{% endblock content %}
